#detaliPage{
    width: 100%;
    height: 100%;
    position: relative;
    .main{
        width: 1020px;
        height: 1000px;
        margin:  0 auto;
        .main1{
            width: 1018px;
            height: 42px;
            border:1px solid #d7d7d7;
            margin-top: 10px;
            .mian1_l{
                float: left;
                ul{
                    height: 100%;
                    float: left;
                    margin-left: 28px;
                    li{
                        float: left;
                        line-height: 42px;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                    li:hover{
                        color:red;
                    }
                }
            }
        }
        .main1_r{
            float: right;
            height: 100%;
            img{
                display: block;
                margin-top: 8px;
                margin-right: 76px;
                cursor: pointer;
            }
        }
        .main2{
            height: 100%;
            .main2_l{
                float: left;
                width: 220px;
                margin-right: 16px;
                .main2_l_top{
                    height: 147px;
                    dl{
                        height: 100%;
                        dt{
                            background: #efefef;
                            box-sizing: border-box;
                            width: 100%;
                            height: 31px;
                            padding-left: 22px;
                            padding-top:8px;
                            font-size: 14px;
                            color: #615a5b;
                            margin-bottom: 15px;
                        }
                        dd{
                            float: left;
                            margin-left: 20px;
                            margin-right:34px ;
                            margin-bottom: 20px;
                            color: #000000;
                        }
                    }
                }
                .main2_l_center{
                    width: 218px;
                    // height: 104px;
                    border:1px solid #d7d7d7;
                    overflow: hidden;
                    margin-bottom: 10px;
                    h3{
                        box-sizing: border-box;
                        padding-left: 24px;
                        height: 31px;
                        width: 100%;
                        line-height: 31px;
                        background: #efefef;
                        margin-bottom: 15px;
                    }
                    p{
                        margin-left: 24px;
                        color: #000;
                        margin-bottom: 15px;
                    }
                    span{
                        display: block;
                        margin-left: 24px;
                        margin-bottom: 7px;
                        .color{
                            color: red;
                            font-weight: bold;
                        }
                    }
                   
                    .after{  
                        display: block;
                        width: 188px;
                        height: 1px;
                        background: #d7d7d7;
                        margin-left: 15px;
                        margin-bottom:10px;
                    }
                }
                .main2_l_bt{
                    width: 218px;
                    border:1px solid #d7d7d7;
                    overflow: hidden;
                    h3{
                        box-sizing: border-box;
                        padding-left: 24px;
                        height: 31px;
                        width: 100%;
                        line-height: 31px;
                        background: #efefef;
                        margin-bottom: 15px;
                    }
                    p{
                        margin-left: 24px;
                        color: #000;
                        margin-bottom: 15px;
                    }
                    .effect{
                        color: #04a6be;
                        margin-bottom: 14px;
                        margin-left: 24px;
                    }
                    span{
                        display: block;
                        margin-left: 24px;
                        margin-bottom: 7px;
                        .color{
                            color: red;
                            font-weight: bold;
                        }
                    }
                    
                    .after{  
                        display: block;
                        width: 188px;
                        height: 1px;
                        background: #d7d7d7;
                        margin-left: 15px;
                        margin-bottom:10px;
                    }
                }
            }
            .main2_r{
                float: right;
                width: 784px;
                margin-top: 18px;
                .main2_r_t{
                    height: 572px;
                    width: 100%;
                    .main2_r_t_l{
                        width: 311px;
                        height: 100%;
                        float: left;
                        .title{
                            margin-bottom: 5px;
                            h2{
                                font-size: 18px;
                                text-align: center;
                                color:#048ea2 ;
                                font-weight: bold;
                            }
                        }
                        .share{
                            margin-left: 2px;
                            margin-top: 5px;
                        }
                    }
                    .main2_r_t_r{
                        float: left;
                        width: 458px;
                        height: 100%;
                        margin-left: 15px;
                        h2{
                            width: 396px;
                            font-size: 18px;
                            font-family: '黑体';
                            font-weight: bold;
                            border-bottom: 1px solid #d7d7d7;
                            margin-bottom: 5px;
                        }
                        .explain{
                            margin-left: 15px;
                            li{
                                color: #333333;
                                line-height: 30px;
                            }
                        }
                        span{
                            display: block;
                            margin-left: 15px;
                            color: #e70008;
                            margin-bottom: 40px;
                        }
                        .price_box{
                            width: 440px;
                            margin-left: 15px;
                            margin-bottom: 20px;
                            .list{
                                li{
                                    border-bottom: 1px solid #d7d7d7;
                                    overflow: hidden;
                                }
                                .price{
                                    height: 76px;
                                    p{
                                        float: left;
                                        width: 180px;
                                        margin-bottom: 15px;
                                        a{
                                            color: #666666;
                                            font-weight: bold;
                                            text-decoration: underline;
                                        }
                                    }
                                    .active_1{
                                        color:#f54e55 ;
                                        font-size: 18px;
                                        font-weight: bold;
                                    }
                                    .active_2{
                                        color: #000;
                                        font-size: 18px;
                                        font-weight: bold;
                                    }
                                }
                                .discounts{
                                    height: 62px;
                                    p{
                                        float: left;
                                        margin-top: 20px;
                                        margin-right: 15px;
                                        color: #000;
                                    }
                                    img{
                                        float: left;
                                        margin-top: 15px;
                                    }
                                }
                                .promotion{
                                    height: 53px;
                                    p{
                                        margin-top: 20px;
                                        color: #000;
                                        i{
                                            padding-left: 10px;
                                            color: #e4393c;
                                        }
                                    }
                                }
                                .num{
                                    height: 53px;
                                    p{
                                        float: left;
                                        margin-top: 20px;
                                    }
                                    .add_num{
                                        float: left;
                                        overflow: hidden;
                                        margin-top: 16px;
                                        margin-bottom: 20px;
                                        .reduce{
                                            float: left;
                                            width: 8px;
                                            height: 18px;
                                            border: 1px solid #707070;
                                            border-radius: 2px;
                                            text-align: center;
                                            line-height: 18px;
                                            cursor: pointer;
                                        }
                                        input{
                                            float: left;
                                            width: 54px;
                                            height: 16px;
                                            margin: 0 2px;
                                        }
                                        .add{
                                            float: left;
                                            width: 8px;
                                            height: 18px;
                                            border: 1px solid #707070;
                                            border-radius: 2px;
                                            text-align: center;
                                            line-height: 18px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                            
                        }
                        .shop{
                             float: left;
                             margin-left: 15px;
                             margin-right: 32px;
                             cursor: pointer; 
                        }
                        .zhixun{
                            float: left;
                            cursor: pointer; 
                        }
                    }   
                }
                .main2_r_c{
                    margin-bottom: 14px;
                }
                .main2_r_b{
                    height: 100%;
                    width: 100%;
                    .main2_btn-box{
                        height: 48px;
                        width: 100%;
                        background:#a5d1d7 ;
                        border-radius: 5px 5px 0 0;
                        .btn_box{
                            overflow: hidden;
                            li{
                                margin-top: 15px;
                                float: left;
                                width: 91px;
                                height: 33px;
                                background: #7db4bb;
                                margin-right: 5px;
                                border-radius: 3px 3px 0 0;
                                cursor: pointer;
                                color: #fff;
                                text-align: center;
                                line-height:33px;
                            }
                            li:nth-child(1){
                                margin-left: 13px;
                            }
                            .active_3{
                                background: #fff;
                                z-index: 999;
                                color: #000;
                            }
                        }
                        
                    }
                    .main2_con{
                        margin-top: 30px;
                        min-height: 300px;
                        width: 100%;
                        display:none;
                    }
                }
            }
        }
    }
}